@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(219, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
  --fontStack: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body {
  background-color: var(--lightGray);
  font-family: var(--fontStack);
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.7188rem;
}
.card {
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 1.25rem;
  max-width: 320px;
}

.card__img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.card__heading {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: var(--darkBlue);
  margin-bottom: 0.5rem;
}

.card__description {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  letter-spacing: 0.0117rem;
  padding: 1rem;
  color: var(--grayishBlue);
}

.attribution {
  text-align: center;
  color: var(--darkBlue);
}
.attribution a:link,
.attribution a:visited {
  color: var(--grayishBlue);
  text-decoration: none;
}
